@CHARSET "UTF-8";

@def linkColor #027AC6;
@def whiteColor #ffce9e;
@def blackColor #d18b47;
@def squareSize 45px;
@def rankLabelWidth 12px;
@def boardWidth 404px;
	
html,body { /* required for dragNdrop */
	height: 100%;
}

body {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: small;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 0 none;
	color: black;
	direction: ltr;
	margin: 0;
	padding: 0;
}

.myLink,.myLink:hover,.myLink:visited {
	color: linkColor;
	/*	display: block; */
}

.myLink:hover {
	text-decoration: underline;
}

.boardContainer {
	width: boardWidth;
}

.whiteSquare {
	background-color: whiteColor !important;
	float: left;
	width: squareSize;
	height: squareSize;
}

.blackSquare {
	background-color: blackColor !important;
	float: left;
	width: squareSize;
	height: squareSize;
}

.squareImage {
	position: relative;
	z-Index: 20;
}

.squareSelection {
	position: absolute;
	z-Index: 10;
}

.moveMarker {
	position: absolute;
}

.rankLabel {
	width: rankLabelWidth;
	padding-top: 15px;
	float: left;
	clear: both;
}

.fileLabel {
	padding-top: 3px;
	float: left;
	width: squareSize;
	text-align: center;
}

.fileLabelPlaceHolder {
	width: rankLabelWidth;
	height: 1px;
	float: left;
	clear: both;
}

.promotionPieceImage {
	cursor: pointer;
}

.promotionPopup {
	opacity: 0.9;
	filter: literal("alpha(opacity = 90)");
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #888888;
	height: squareSize;
	z-Index: 30;
}

.draggingImage { /*position: absolute; */
	z-index: 100;
}
